.background__div{
    display: flex;
    flex-direction: row;
    padding: 1px;
    z-index: -1;
}
.div1,
.div2{
   flex:0.50;
   height: 650px;
   /* background-color: gold; */
   z-index: -1;
}
.div1{
    padding-right: 2px;
}
.div2{
    padding-left: 2px;
}
.div11{
    height: 650px;
    width: 100%;
    border:3px solid #4CB4BE;
    background-color: #111;
    position: relative;
    left: 0;
}
.div21{
    height: 650px;
    width: 100%;
    border:3px solid #4CB4BE;
    background-color: #111;
    color:#68e4ed;
    position: relative;
    right:0;
    display: flex;  
}
.timer{
    margin: auto 50%;
}

.data__feild{
    z-index: 2;
    margin:-550px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    border-radius: 100%;
    border:3px solid #B5EAF0;
    height: 450px;
    width: 450px;
    background-color:#111;
    color: #fff;
    transition: all 2s;
    transition-timing-function: ease-in;
}    
.data__image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}
.data__header{
    color: honeydew;
    font-family: serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.data__input{
    margin-bottom: 10px;
    padding: 5px;
}
.outer__button{
    width: 150px;
    height: 40px;
}
.div11.fadeout1{
    animation: slidebox1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
.div21.fadeout2{
    height: 100%;
    animation: slidebox2;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
@keyframes slidebox1 {
    from{
       left: 0;
    }
    to{
        left: -100%;
        opacity: 0;
    }
}
@keyframes slidebox2 {
    from{
        right:0%;
    }
    to{
        right:-100%;
        opacity: 0;
    }
}

.data__feild.torotate{
transform: rotate(360deg);
opacity: 0;
}